{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "endOfLine": "lf",
    "proseWrap": "never",
    "quoteProps": "consistent"
  }  